@using Infragistics.Web.Mvc
@model Infragistics.Web.Mvc.GridModel

<link href="~/Content/Infragistics/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="~/Content/Infragistics/css/structure/infragistics.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.3.js"></script>
<script src="~/Scripts/Infragistics/js/infragistics.core.js"></script>
<script src="~/Scripts/Infragistics/js/infragistics.lob.js"></script>


<h2>Products</h2>

@(Html.Infragistics().Grid(Model))



